@font-face {
  font-family: 'League Spartan';
  src: url('../fonts/LeagueSpartan/LeagueSpartan-Bold.woff') format('woff'),
    url('../fonts/LeagueSpartan/LeagueSpartan-Bold.ttf') format('ttf'),
    url('../fonts/LeagueSpartan/LeagueSpartan-Bold.otf') format('otf');
    font-weight: bold;
    font-style: normal;
}