@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Poppins:300,400&display=swap&subset=cyrillic');

@font-face {
  font-family: 'League Spartan';
  src: url('../fonts/LeagueSpartan/LeagueSpartan-Bold.woff') format('woff'),
    url('../fonts/LeagueSpartan/LeagueSpartan-Bold.ttf') format('ttf'),
    url('../fonts/LeagueSpartan/LeagueSpartan-Bold.otf') format('otf');
    font-weight: bold;
    font-style: normal;
}
