.header {
  position: relative;
  margin-bottom: 80px;

  @media (max-width: $sm) {
    margin-bottom: 60px;
  }

  &-slider {
    position: relative;
    height: 572px;

    @media (max-width: $md) {
      height: auto;
    }

    &-wrapper {
      outline: none;
    }

    &__item {
      position: relative;
      display: flex !important;
      justify-content: flex-end;

      @media (max-width: $md) {
        flex-direction: column;
      }

      &-wrapper {
        outline: none;
      }
    }

    &__content {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(0, -50%);
      z-index: 1;

      @media (max-width: $md) {
        text-align: center;
        position: relative;
        top: 0;
        transform: translate(0, 0);
        order: 2;
        padding: 20px 0;
      }
    }

    &__desc {
      opacity: 0.9;
      color: $main-color;
      font-family: "League Spartan";
      font-size: 9px;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 5.4px;
    }

    &__title {
      color: #0b0c11;
      font-family: "Playfair Display";
      font-size: 62px;
      font-weight: 700;
      margin: 0;

      @media (max-width: $md) {
        font-size: 54px;
      }

      @media (max-width: $xs) {
        font-size: 26px;
      }
    }

    &__text {
      width: 390px;
      color: #8f8f8f;
      font-weight: 300;
      line-height: (24 / 14);
      letter-spacing: 0.35px;
      margin: 0;

      @media (max-width: $md) {
        margin: 0 auto;
      }

      @media (max-width: $xs) {
        width: 100%;
      }
    }

    &__controls {
      position: absolute;
      bottom: 0;
      left: 0;
      display: flex;
      align-items: center;
      color: #8f8f8f;
      font-family: "League Spartan";
      font-size: 10px;
      font-weight: 700;
      letter-spacing: 4px;
      z-index: 1;

      @media (max-width: $md) {
        position: relative;
        width: 105px;
        margin: 0 auto;
      }
    }

    &__arrow {
      display: block !important;
      background: none;
      border: none;
      outline: none;
      cursor: pointer;
      font-size: 14px;
      color: #8f8f8f;

      &_prev {
        margin-right: 10px;
      }

      &_next {
        margin-left: 10px;
      }
    }

    &__count {
      &-active {
        color: $main-color;
      }

      &-total {
        color: #262626;
      }
    }

    &__img {
      background: url('../img/sections/img-header.jpg') right center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 570px;
      width: 80%;
      box-shadow: -16px 25px 65px rgba(11, 12, 17, 0.2);

      @media (max-width: $md) {
        width: 100%;
        height: 300px;
      }

      @media (max-width: $xs) {
        height: 180px;
      }
    }
  }

  &-desc {
    top: 60px;
    right: 0;
  }

  &-social {
    &__list {
      position: absolute;
      bottom: 0;
      right: -25px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0;
      margin: 0;

      @media (max-width: $sm) {
        display: none;
      }
    }

    &__item {
      list-style: none;
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__link {
      text-decoration: none;

      &:hover .header-social__icon::before {
        color: $main-color;
      }
    }

    &__icon {
      &::before {
        font-size: 14px;
        color: #ccc;
        transition: all .2s ease-in-out;
      }
    }
  }
}